body{
    font-family: Arial, sans-serif
}
header{
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.header-ad{
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
    
}
.ynetlogo{
    height: 75px;
    width: 176px;
    margin-bottom: 24px;
}
.rightBar{
    font-size: 13px;
    display: flex;
    align-items: baseline;
    gap:1vw;
    margin-bottom: 24px;
}
.forecast-img{
    height:17px
}
.plus-image{
    width: 45px;
    height: 20px;
}
.ynetPlus-sign{
    display: flex;
    border: 1px solid #000;
    border-radius: 13px;
    padding: 0.1% 0.2% 0.1% 0.3%;
    width: 210px;
    gap: 10px;
    
}
.loginbar{
    display: flex;
    gap:5%;
    align-items: center;
    height: 27px;
    width:298px;
    font-size: 13px;
    margin-bottom: 24px;
}
.connect{
    display: flex;
}
/* Navbar */
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    gap: 1%;
    justify-content: space-around; 
    align-items: flex-end;
    margin-top: 0;
}
nav{
    background-color: rgb(222,26,26);
    height: 5vh;
    color: #fff;

}
li:hover{
    font-weight: bolder;
    cursor: pointer;
}
.more-bar{
    display: flex;
    border: 0.1rem solid #fff;
    border-radius: 13px;
    width: 50px;
    justify-content: center;
}