body{
    font-family: "Narkiss Block Regular";
}
/* ------ Header ------ */
header{
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header-ad{
    display: flex;
    justify-content: center;
    margin-bottom: 4vh; 
}
.ynetlogo{ /* Center logo */
    height: 75px;
    width: 176px;
    margin-bottom: 24px;
}
.rightBar{
    font-size: 13px;
    display: flex;
    align-items: baseline;
    gap:1vw;
    margin-bottom: 24px;
}
.forecast-img{
    height:17px
}
.plus-image{
    width: 53px;
    height: 19px;
    padding-right: 4px;
}
.ynetPlus-sign{
    display: flex;
    border: 1px solid #000;
    border-radius: 13px;
    width: 210px;
    gap: 8px;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    height:27px;
}
.loginbar{
    display: flex;
    gap:5%;
    align-items: center;
    height: 27px;
    width:298px;
    font-size: 13px;
    margin-bottom: 24px;
}
.connect{
    display: flex;
}
span:hover,.header-ad:hover,.ynetlogo:hover, img:hover{
    cursor: pointer;
}
#cities{
    border:0;
    font-family: "Narkiss Block Regular";
    width:65px;
}
/* ------ Navbar ------ */
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    gap: 1%;
    justify-content: space-around; 
    align-items: flex-end;
    margin-top: 0;
}
nav{
    background-color: rgb(222,26,26);
    height: 6vh;
    color: #fff;
}
nav li{
    margin-right: 1vw;
}
li:hover{
    font-weight: bolder;
    cursor: pointer;
}
.more-bar{
    display: flex;
    border: 0.1rem solid #fff;
    border-radius: 13px;
    width: 50px;
    justify-content: center;
    margin-top: 3px;
}
/* ------ News Flashes ------ */
.news-flashes{
    display: flex;
    background-color: #f3f8f9;
    margin-top:25px;
    padding-top:15px;
    padding-bottom: 15px;
    height: 100px;
}
.news-flashes p{
    width:16vw;
    padding: 0 8px;
    font-size: 14px;
  
}
.flash1:hover, .flash2:hover, .flash3:hover,.flash4:hover,.flash5:hover{
    color: #1217ac;
    cursor: pointer;
}
.flash1,.flash2,.flash3,.flash4{
    border-left: 1.5px dotted #000;
}
.flash6{
    display: flex;
    align-items: center;
}
h5{
    color:#de1a1a;;
}
h5:hover{
    cursor: pointer;
}
.popup-icons img{ 
    height: 32px;
    width: 32px;
} /*Pop up divs */
.hide-flash1, .hide-flash2, .hide-flash3, .hide-flash4, .hide-flash5{
    display:none;
    position: absolute;
    top:75vh;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 6px 2px rgba(217, 217, 217, 0.5);
}
.hide-flash2{
    right: 18vw;
}
.hide-flash3{
    right: 35vw;
}
.hide-flash4{
    left: 29vw;
}
.hide-flash5{
    left: 11vw;
}
.flash1:hover + .hide-flash1, .flash2:hover + .hide-flash2, .flash3:hover + .hide-flash3, .flash4:hover + .hide-flash4, .flash5:hover + .hide-flash5{
    display:flex;
    flex-direction: column;
}
/* ------ Main Article ------ */
.firstArticle{
    display: flex;
    gap:1vw;
    flex-direction: row-reverse;
}
.firstArticle h1{
    font-size: 3rem;
    width: 44vw;
    margin-top: 5px;
    margin-bottom: 10px;
}
.firstArticle h1:hover, .firstArticle p:hover{
    cursor: pointer;
}
.bbimg{
    width:611px;
    margin-top: 15px;
}
small{
    color: #6e6e6e;
    font-size: 12px;
}
/* ------ Second Article ------ */
.secondArticle{
    display: flex;
    flex-direction: row-reverse;
    gap:2vw;
    margin-top: 15px;
}
.rightSideAds{
    display: flex;
    flex-direction: row-reverse;
    gap:0.5vw;
}
.smallAdImg2{
    width:300px;
}
.smallAd2{
    width:300px;
    border: solid #f3f3f3;
    margin-top: 16px;
}
h6, .smallAd2 p{
    font-size:13px;
    margin:5px;
}
.leftNewsBar{
    display: flex;
    flex-direction: column;
    gap:3vh;
}
.firstBar,.thirdBar{
    display: flex;
    background-color: #DE1A1A;
    color: #fff;
    gap:1vw;
    width:48vw;
    height: 110px; 
}
.secondBar{
    display: flex;
    background-color: #1417AC;
    color: #fff;
    gap:1vw;
    width:48vw;
    height: 110px; 
}
.forthBar{
    display: flex;
    background-color: #0c1c3a;
    color: #fff;
    gap:1vw;
    width:48vw;
    height: 115px; 
}
.firstBarImg{
    width:200px; 
}
.firstBar h6, .secondBar h6, .thirdBar h6, .forthBar h6{
    font-size: 17px;
}
.firstBar p, .secondBar p, .thirdBar p, .forthBar p{
    font-size: 15px;
}
.firstBar span, .secondBar span, .thirdBar span, .forthBar span{
    font-size: 12px;
}
.firstBar h6:hover, .secondBar h6:hover, .thirdBar h6:hover, .forthBar h6:hover,.smallAd2 h6:hover{
    cursor: pointer;
}
.firstBar p:hover, .secondBar p:hover, .thirdBar p:hover, .forthBar p:hover, .smallAd2 p:hover{
    cursor: pointer;
}
.firstBar span:hover, .secondBar span:hover, .thirdBar span:hover, .forthBar span:hover{
    cursor: pointer;
}
/* ------ Most Hot & More Titles ------ */
.two-titles{ /* Two blue title class */
    display: flex;
    gap: 2vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.two-titles h1, .one-title h1{
    font-size: 16px;
    padding-right: 1vw; 
}
.right-title, .left-title{
    display: flex;
    background-color: #1417AC;
    width: 100%;
    height: 5vh;
    color: #fff;
    justify-content: space-between;
    align-items: center;    
}
.two-titles-imgs{
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap: 2.2vw;
}
.two-titles-imgs h1{
    font-size: 16px;
}
.two-titles-imgs h1:hover, .two-cards-ls-rs h1:hover{
    color: #1217ac;
    cursor: pointer;
}
.two-titles-imgs img{
    width: 183px;
    height: 107px;
}
.timg-card{ /* Most hot and more news img card */
    width: 15vw;
    height:35vh;
    line-height: 3vh;
}
/* ------ News & Ads Section ------ */
.newsAndAds{ 
    display: flex;
    margin-top: 8vh;
    justify-content: space-between;
    gap: 2vw;
}
.adsRSide{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.btmAds{
    display: flex;
    justify-content: space-between;
}
.newsh1{ /* Title H1 */
    font-size: 16px;
    padding-right: 1vw; 
}
.newsh2{
    font-size: 12px;
    padding-left: 1vw;
    cursor: pointer;
}
.newsLSide{  /* Left side of News & Ads */
    display: flex;
    flex-direction: column;
}
.two-cards-ls-rs{ /* A div for both divs of left news side */
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    margin-top:2vh;
}
.two-cards-ls-rs h1{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.newsLSL{ /*Moving left news card up */
    margin-top: -2vh;
}
.newsLSL h1{
    width: 31vw;
}
.newsLSR h1{
    width: 14vw;
    margin-top: 0.1vh;
}
.LSR-card img{  /* Left Side Card in right side of news */
    width:190px;
    height: 107px;
}
.LSR-card{
    width:16vw;
}
.LSR-card h1, .two-cards-ls-rs h1{
    font-size: 16px;
}
.LSR-card-weather{
    width: 16vw;
}
.LSR-card-weather h3{
    font-size:14px;
    margin-top:0.1vh;
    margin-bottom: 0.7vh;
}
.weather-span{
    font-size: xx-large;
    font-weight: bold;
}
.dani-rup-img{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.dani-rup-txt{
    font-size: 12px;
    color: #1217ac;
}
.bi-play-circle{ /* Play Icon */
    font-size: 12px;
}
/* ------ Sports & Economy ------ */
.kal-sport-div{
    display: flex;
    flex-direction: row;
    gap: 2.3vw;
    margin-top: -2vh;
}
/* ------ One & Kalkalist ------ */
.red{
    background-color: #b4010b;
    display: flex;
    padding-left: 1vw;
    padding-right: 1vw;
    align-items: center;
}
.t-icon img{ /* Title icons */
    height: 3vh;
    background: #fff;
    border-radius: 50%;
}
.t-icon{
    margin-top:0.8vh;
}
.kalka-one{
    display: flex;
    gap: 2vw;
    align-items: baseline;
    margin-top: -2.7vh;
}
.kalka-one img{
    width: 190px;
    height: 108px;
    margin: 2vh;
}
.one, .kalkalist{
    display: flex;
    width: 50vw;
    height: 30vh;
    border-bottom: #efefef solid;
    border-left: #efefef solid;
    border-right: #efefef  solid;
}
.kalka-one-txt h1{
    font-size: 16px;
}
.kalka-one-txt span{
    font-size: 14px;
}
.redh1{ 
    color: #d6040f;
}
.klk-link{ /* Full Article Link */
    position: relative;
    float: left;
    left: 2vw;
    top: 0.5vw;
    font-weight: bold;
}
/* ------ YNET+ Section ------ */
.yplus-sect{ /* Whole YNET+ Section */
    background-color: #090d15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    gap: 4vh;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
}
.y-sec-head{ /* Logos */
    display: flex;
    justify-content: center;
}
.ynplusimg{ 
    width: 113px;
    height: 41px;
}
.ynplus-month{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5vw;
    color: #fff;
    border: 1px #fff solid;
    border-radius: 20px;
    width: 17vw;
    height: 41px;
    font-size: 17px;
    margin-top: 0.5vw;
}
.yp-imgs{ /* Images Section */
    display: flex;
    flex-wrap: wrap;
    gap: 0.8vw;
    justify-content: center;
    position: relative;
    text-align: right; 
}
.yp-cont-img img{
    width: 30vw;
}
.img-txt{
    position: relative;
    color:#fff;
    font-size: 12px;
    width: 30vw;
    margin: 0;
    padding-bottom: 10px;
    padding-right: 5px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}
.img-txt small{
    color: #b7b7b7;
}
.img-txt h1{
    width:25vw;
}
.i1,.i2,.i3{
    bottom: 17vh;
}
.i4,.i5,.i6{
    bottom:17vh;
}
.month-btm{
    display: flex;
    color: #fff;
    border-radius: 20px;
    border: solid #fff;
    width: fit-content;
    padding:0 2%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top:5vh;
}
.month-btm:hover{
    cursor: pointer;
}
/* ------ Missed and Before section ------ */
.silver{
    background-color: #556775;
}
/* ------ Podcasts ------ */
.one-title{
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 5vh;
    color: #fff;
    justify-content: space-between;
    align-items: center; 
    background-color: #de1b1b;
}
.podcasts{
    height: 185px;
    margin-bottom: -9vh;
    margin-top: -3vh;
    gap: 0.5vh;
}

